
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  100vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
  }
  
  .link {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-weight: 600;
    margin-right: 50px;
  }
  
  .logo img{
    margin-left: 50px;
  }
  
  